<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body> 
    <header>
        {{#if islogin}}
            <div>
                <a href="/user/private">user</a>
                <a href="/logout">logout</a>
            
            </div>
        {{else}}
            <div>
                <a href="/login">login</a>
                <a href="/signup">signup</a>
            </div>
        {{/if}}
        
    </header>
    <main>
        
        {{{body}}}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    </main>
</body>
</html>