<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="/public/images/favicon.png" type="image/x-icon">
</head>
<body> 
    <header>
        {{#if islogin}}
            <div class="log_a">
                <a href="/all">All Recipes</a>
                <a href="/user/private">User Profile</a>
                <a href="/logout">Logout</a>
                Welcome, {{username}}
            
            </div>
        {{else}}
            <div class="log_a">
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                <a href="/all">All Recipes</a>
            </div>
        {{/if}}
        
    </header>
    <main>
        
        {{{body}}}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        
    </main>
</body>
</html>