<form class="form-addNewRecipe">
  <div class="card">
    <div class="card-header">
      <h2>Add Your Recipe</h2>
    </div>
    <p>{{error}}</p>
    <p id="error" class="error"></p>
    <div class="flex-parent recipeform">
      <div class="flex-child-element card userdetails">
        <label class="form-label" for="name">Recipe Name:</label>
        <input class="form-control" type="text" name="name" id="name">
        <br>
        <label class="form-label" for="recipeType">Select Recipe Type</label>
        <select class="form-select recipeType" name="recipeType" id="recipeType">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snacks">Snacks</option>
        </select>
        <br>
        <label class="form-label" for="season">Select Season</label>
        <select class="season form-select" name="season" id="season">
          <option value="All">All</option>
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
          <option value="Winter">Winter</option>
        </select>
        <br>
        <div id="ingredientsList">
          <button type="submit" class="btn ingredient" id="addIngredient">add a new ingredient</button>
            {{!-- <svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> --}}
            {{!-- </button> --}}
          <p class="form-label">Ingredients:</p>
          <button type="submit" class="btn ingredient" id="deleteIngredient" hidden>delete a new ingredient
          </button>
          <br>
          <label class="form-label ingredient" for="ingredientName0" id="ingredientNameLabel0">Ingredient
            Name:</label>
          <br>
          <input class="form-control ingredientName" type="text" name="ingredientName" id="ingredientName0">
          
          <label class="form-label ingredient" for="ingredientAmount0" id="ingredientAmountLabel0">Amount:</label>
            <br>
            <input class="form-control ingredientAmount" type="text" name="ingredientAmount" id="ingredientAmount0">
          
        </div>
        <br>
        <div id="nutritionDetailList">
          <button type="submit" class="btn nutritionDetail" id="addNutritionDetail">add a new Nutrition Detail</button>
            {{!-- <svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
              viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> --}}
            {{!-- </button> --}}
          <p class="form-label">Nutrition Details:</p>
          <button type="submit" class="btn nutritionDetail" id="deleteNutritionDetail" hidden>delete a new
            nutrition
          </button>
          <br>
          <label class="form-label nutritionDetail" for="nutritionDetailName0" id="nutritionDetailNameLabel0">Nutrition
            Name:</label>
          <br>
          <input class="form-control nutritionDetailName" type="text" name="nutritionDetailName"
            id="nutritionDetailName0">

          <label class="form-label nutritionDetail" for="nutritionDetailAmount0"
            id="nutritionDetailAmountLabel0">Amount:</label>
          <br>
          <input class="form-control nutritionDetailAmount" type="text" name="nutritionDetailAmount"
            id="nutritionDetailAmount0">

        </div>
      </div>
      <div class="flex-child-element card recipedetails">
        <label class="form-label" for="preparationTime">Preparation Time (minutes):
          <input class="form-control" type="text" name="preparationTime" id="preparationTime">
          <br>
        </label>
        <label class="form-label" for="cookTime">Cooking Time (minutes):
          <input class="form-control" type="text" name="cookTime" id="cookTime">
        </label>
        <br>
        <div id="foodGroupList">
          <button type="submit" class="btn foodGroup" id="addFoodGroup">add a new food group</button>
            {{!-- <svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> --}}
            {{!-- </button> --}}
          <p class="form-label">Food Groups</p>
          <button type="submit" class="btn foodGroup" id="deleteFoodGroup" hidden>delete a new food group
          </button>
          <br>
          <label class="form-label foodGroup" for="foodGroup0" id="foodGroupLabel0">Food Group
            Name:</label>
            <br>
            <input class="form-control foodGroup" type="text" id="foodGroup0">
          
        </div>
        <div id="recipeStepsList">
          <button type="submit" class="btn recipeSteps" id="addRecipeSteps"> add a new recipe step</button>
            {{!-- <svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> --}}
            </button>
          <p class="form-label">Recipe Steps:</p>
          <button type="submit" class="btn recipeSteps" id="deleteRecipeSteps" hidden>delete a new recipe step
          </button>
          <br>
          <label class="form-label recipeSteps" for="recipeSteps0" id="recipeStepsLabel0">Recipe
            Step:</label>
            <br>
            <input class="form-control recipeSteps" type="text" name="recipeSteps" id="recipeSteps0">
          
        </div>
      </div>
    </div>
    <button class="btn" type="submit" id="addFinished">Add Recipe</button>
  </div>
</form>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/addNewRecipe.js"></script>