<form>
    <label for="name">Please input recipeName:</label>
    </br>
    <input type="text" name="name" id="name"></input>
    </br>
    {{!-- <ul>

    </ul> --}}
    <label for="preparationTime">Please input preparationTime:</label>
    </br>
    <input type="text" name="preparationTime" id="preparationTime"></input>
    </br>
    <label for="cookTime">Please input cookTime:</label>
    </br>
    <input type="text" name="cookTime" id="cookTime"></input>
    </br>
    <label for="recipeType">Operation</label>
    <select class="recipeType" value="{{recipeType}}" name="recipeType" id="recipeType">
        <option value="breakfast">breakfast</option>
        <option value="lunch">lunch</option>
        <option value="dinner">dinner</option>
        <option value="snacks">snacks</option>
    </select>

    <button type="submit" id="finishAdd">finishAdd</button>

</form>