<p>{{error}}</p>
<h1 class="signup_h1">Create an Account</h1>
<div id="error" class="error" hidden>I'm an error</div>

<div class="signup_form">
    <form action="/signup" method="post" id="signup-form">
    <label for="firstname">First Name:</label>
    <input type="text" name = "firstname" id="firstname">
    <br>
    <label for="lastname">Last Name:</label>
    <input type="text" name = "lastname" id="lastname">
    <br>
    <label for="email">Email:</label>
    <input type="text" name = "email" id="email">
    <br>
    <label for="username">Username:</label>
    <input type="text" name = "username" id="username">
    <br>
    <label for="password">Set Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Create Account">
</form>
<a href="/login">Already have an account? Click here to log-in</a>
</div>


<script src="/public/js/signup.js"></script>