<div class="card signup">
    <div class="card-header signup_h1">
        <h1>Sign Up</h1>
    </div>
    <div class="card-body signup_form">
        <form action="/signup" method="post" id="signup-form">
            <label class="form-label" for="firstname">First Name:</label>
            <input class="form-control" type="text" name="firstname" id="firstname">
            <br>
            <label class="form-label" for="lastname">Last Name:</label>
            <input class="form-control" type="text" name="lastname" id="lastname">
            <br>
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" type="text" name="email" id="email">
            <br>
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" type="text" name="username" id="username">
            <br>
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password">
            <p>{{error}}</p>
            <div id="error" class="error" hidden>I'm an error</div>
            <input class="btn loginbtn" type="submit" value="Create Account">
        </form>
        <a href="/login">Already have an account? Click here to log-in</a>
    </div>
</div>
<script src="/public/js/signup.js"></script>