<div class="description">
<h2 class="description_title">
  Welcome to Nutrition Website!
</h2>
<br/>
<p>
  You can find all the information about the nutrition of the food you are
  looking for. When you are ready, please click on the button below to start the
  search.
  <br>
  When you create an account, you can save your favorite foods and
  recipes, add new ones, and view your favorite recipes.
  <br>
  You can also search and sort recipes accoring to food type and seasons.
</p>
</div>
