.h1{
    font-size: 2.5em;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}
.h2{
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}
.container {
    overflow: hidden;
  }
  .filterDiv {
    float: left;
    border: black;
    font-size: 20px;
    background-color: white;
    color:black;
    width: 150px;
    line-height: 25px;
    text-align: center;
    margin: 8px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    font-size: 17px;
    font-weight: 700;
    width: 100px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color:gray;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color:black;
    color: white;
  }
  
.like{
    background-color: red;
}

.dislike{
    background-color: burlywood;
}
.error{
    color: red;
    font-size: 20px;
    font-weight: 800;
}
.message{
    color: green;
    font-size: 20px;
    font-weight: 800;
}


.userPrfile{
  margin:0 auto;
  width:300px;
  height:100px
}
.form-addNewRecipe{
  margin:0 auto;
  width:300px;
  height:100px
}
.form-addNewRecipe label {
  color: #B4886B;
  font-weight: bold;
  display: block;
  width: 2000px;
  float: left;
  font-size: 20px;
}

.userPrfile label {
  color: #B4886B;
  font-weight: bold;
  display: block;
  width: 2000px;
  float: left;
  font-size: 20px;
}
.userPrfile input[type=text] {
  padding:10px;
  border-radius:10px;
}
.form-addNewRecipe input[type=text] {
  padding:10px;
  border-radius:10px;
}
.form-addNewRecipe button {
  background-color: #555555; 
  color: white;
  padding: 8px 10px;
  font-size: 16px;
}
.userPrfile button {
  background-color: #555555; 
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}
#error {
  color: red;
  font-size: 20px;
}