body{
  background: #e2d9f3;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}

h1, .form-label, .card a{
  color:#59359a ;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #e9ecef;
}

.btn{
  background-color: #432874;
  color: white;
}

header{
  margin: 10px;
}

.flex-parent{
  text-align: left;
  display: flex;
}

.flex-child-element{
  flex: 1;
  text-align: left;
}

.controls{
  text-align: right;
  padding-top: 5px;
}

.log_a button{
  margin-right: 5px;
}

.signup{
  width: 50%;
  padding: 15px;
}

.card {
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px; 
}

.signup_h1{
  text-align: center;
}

.loginbtn{
  float: right;
}

.card a:hover, #myBtnContainer button:hover{
  color: #2c1a4d;
}

.error{
  color: red;
}

.welcome{
  margin-right: 5px;
  font-size: larger;
}

.userdetails{
  margin-right: 5px;
}

.recipedetails{
  margin-left: 5px;
}

.userRecipes{
  margin-top: 20px;
}

.description{
  margin: 5% 20%;
}

.description_title{
  color: #432874;
}

.options{
  flex:1
}

.recipes{
  flex: 3;
}

.recipe_name{
  font-weight: 700;
  font-size: large;
}

#myBtnContainer button{
  border: none;
    background: white;
    color: #59359a;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  border: black;
  font-size: 16px;
  background-color: white;
  color:black;
  width: 250px;
  line-height: 30px;
  text-align: left;
  margin: 8px;
  display: none; 
}

.show {
  display: block;
}

#myBtnContainer button {
  font-size: 17px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

#myBtnContainer .btn:hover {
  color: #2c1a4d;
}

#myBtnContainer .btn.active {
  background-color:#2c1a4d;
  color: white;
  border: none;
  outline: none;
}

.like{
  background-color: red;
}

.dislike{
  background-color: white;
}
.error{
  color: red;
  font-size: 20px;
  font-weight: 800;
  text-align:center;
}
.message{
  color: green;
  font-size: 20px;
  font-weight: 800;
}

#rating{
  width: 200px;
}

.rating label, .rating input{
  float: left;
  margin-right:10px;
}

.rating label{
  margin-top: 5px;
}

.favoriteRecipesName{
  vertical-align: baseline;
}
.favoriteRecipesNameDelete{
  vertical-align: baseline;
}

.userRecipes{
  align-items: left;
}

/* #foodGroupList{
  display: inline-block;
}

#foodGroupList div input{
  display: block;
} */

.recipeform{
  margin:15px;
}

.recipeform div{
  padding: 10px;
}

#addFinished{
  width: 20%;
  align-self: center;
}
/* 
.h1{
    font-size: 2.5em;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}
.h2{
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}
.container {
    overflow: hidden;
  }
  .filterDiv {
    float: left;
    border: black;
    font-size: 20px;
    background-color: white;
    color:black;
    width: 150px;
    line-height: 25px;
    text-align: center;
    margin: 8px;
    display: none; 
  }

  .show {
    display: block;
  }
  
  .btn {
    font-size: 17px;
    font-weight: 700;
    width: 100px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color:gray;
  }
  
  .btn.active {
    background-color:black;
    color: white;
  }
  
.like{
    background-color: red;
}

.dislike{
    background-color: burlywood;
}
.error{
    color: red;
    font-size: 20px;
    font-weight: 800;
    text-align:center;
}
.message{
    color: green;
    font-size: 20px;
    font-weight: 800;
}

.log_a{
  text-align:right;
}

.log_a a{
  text-decoration: none;
}

.log_a a:hover{
  text-decoration: underline;
  color: red;
}

.signup_form label{
  display: inline-block;
	width: 100px;
	text-align: justify;
	text-align-last: justify;
	margin-right: 10px;
}

.signup_form{
  text-align:center;
}

.signup_h1{
  text-align:center;
}

.signup_form a{
  text-decoration: none;
}

.signup_form a:hover{
  text-decoration: underline;
  color: red;
}

.signup_form input{
  margin-top:5px;
}
.userPrfile{
  margin:0 auto;
  width:300px;
  height:100px
}
.form-addNewRecipe{
  margin:0 auto;
  width:300px;
  height:100px
}
.form-addNewRecipe label {
  color: black;
  font-weight: bold;
  display: block;
  width: 2000px;
  float: left;
  font-size: 20px;
}
.userPrfile label {
  color: black;
  font-weight: bold;
  display: block;
  width: 2000px;
  float: left;
  font-size: 20px;
}
.userPrfile input[type=text] {
  padding:10px;
  border-radius:10px;
}
.form-addNewRecipe input[type=text] {
  padding:10px;
  border-radius:10px;
}
.form-addNewRecipe button {
  color: black;
  padding: 8px 10px;
  font-size: 16px;
}
.userPrfile button { 
  color: black;
  padding: 8px 10px;
  font-size: 16px;
}
#error {
  color: red;
  font-size: 20px;
  margin:0 auto;
}

.favoriteRecipesName{
  vertical-align: baseline;
}
.favoriteRecipesNameDelete{
  vertical-align: baseline;
}*/

